<?xml version="1.0"?>
<launch>
	<node name="whycon" pkg="circle_detection" type="circle_finder" required="true" output="screen">
		<param name="circle_diameter" type="double" value="0.0925" />
		<remap from="/camera/image_rect_color" to="/camera/rgb/image_color"/>
		<remap from="/camera/camera_info" to="/camera/rgb/camera_info"/>
	</node>
	<node name="view_left" pkg="image_view" type="image_view" required="true">
		<remap from="image" to="/whycon/processedimage"/>
	</node>
</launch>