<?xml version="1.0"?>
<launch>
    <arg name="target_frame" default="/base" />
    <arg name="positions" default="/people_tracker/positions" />
    <arg name="marker" default="/people_tracker/marker_array" />
    <arg name="machine" default="localhost" />
    <arg name="user" default="" />

    <!-- start circle detection -->
    <node name="CircleFinder" pkg="circle_detection" type="circle_finder" required="true" output="screen">
        <param name="camera" type="str" value="Right" />
    </node>

    <!-- view procesed image from circle finder -->
    <node name="view_left" pkg="image_view" type="image_view" required="true">
        <remap from="image" to="/circledetection/left/rgb/processedimage"/>
    </node>

</launch>